html {
    scroll-behavior: smooth;
}

.introduction {
    position: relative;
    text-align: center;
}

.introductionText {
    position: absolute;
    top: 120px;
    left: 5%;
    width: 50%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #D9CBF6;
}

a:hover {
    text-decoration: bold;
}

.main-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 25px;
}

p {
    font-size: 1.9vw;
    color: #4c1f62;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: right;
}

footer .footer-text {
    margin-right: 20px;
}

.card {
  width: 80%;
  margin: auto;
}